/* SELF-HOSTED FONTS */
@font-face {
  font-family: 'ralewayregular';
  src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ONLINE FONTS (at <html> <link> )*/
.bree-serif-regular { 
  font-family: "Bree Serif", serif;
  font-weight: 900;
  font-style: normal;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-family: 'ralewayregular';
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}